
html {
  background-size: 100px 100px;
  background-position: 0 0, 25px 25px, 50px 50px;
  text-align: center;
}

/* Background Pattern 
Taken From https://projects.verou.me/css3patterns/ */

body{
background-color: #ece983 !important;
background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%) !important;
background-size: 50px 50px !important;
}

h1,
h2 {
  background-color: black ;
  border-radius: 20px;
  color: white;
  width: 600px;
  margin: auto;
  margin-bottom: 5px;
}
#myCanvas {
  border: 5px solid  black;
  border-radius: 30px;
  background-image:url(https://i.etsystatic.com/45886383/c/2000/2000/0/0/il/ac260c/6106973857/il_300x300.6106973857_k5wd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
